body{
    background: linear-gradient(to bottom right,#50a3a2 0%, #2eca7f 100% );
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    font-family: "Poppins";
}

a{
    color:#333;
    text-decoration:none;
}

header{
    
    width: 504px;
    margin: 0 auto 23px auto;
    border-radius: 0 0 5px 5px;
    
}
.caja{
    width: 504px;
    background-color: white;
    
}
.cajaAdicional{
    min-height: 500px;
    width: 504px;
    background-color: white;
    margin-top: 30px;
}

.link{
    display: flex;
    justify-content: space-around;
}

.link > a{
    font-size: 11px;
    height: 72px;
    width: 100%;
    font-weight: 500;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    transition: 0.2s ease-in color;
}
.link > a:hover{
    color:#2eca7f;
}
.link > a::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
}

.link i{
    font-size: 20px;
    margin-bottom:4px
}

.profile{
    position: relative;
    border-radius: 5px;
    margin:0 auto;
    background-color: white;
    overflow: hidden;
    z-index:-3;
}

.background{
    background-image: url(./img/bg.jpg);
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: -2;
}
.background::before{
    content:'';
    position: absolute;
    right: -12%;
    bottom: -198px;
    width: 700px;
    height: 200px;
    background: #ffffff;
    transform:rotate(12deg);
    z-index:-1;
}

.background::after{
    content:'';
    position: absolute;
    right: -12%;
    bottom: -198px;
    width: 700px;
    height: 200px;
    background: #ffffff;
    transform:rotate(348deg);
    z-index:-1;
}

.photo{
    position: relative;
    top: -82px;
    border-radius: 50%;
    border: 3px solid white;
    width: 134px;
    display: block;
    margin: 0 auto;

}
.photo::before{
    content: '';
    position: absolute;
    top: -69px;
    left: calc(50% - 78px);
    width: 134px;
    height: 134px;
    background: linear-gradient(135deg, rgba(46, 202, 127, 0.4) 0%, rgba(46, 202, 127, 0.01) 100%);
    border-radius: 100%;
}

@media only screen and (min-width: 1040px){
        .container{
            display:flex;
            align-items: center;
        }
        .link{
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            width:auto;
        }
        header{
            width: auto;
            height: 360px;
        }
        .cajaAdicional{
            display:none;
        }

        .mostrarCaja{
            display:block;
        }

        
}